.deck-list--form {
  background-color: $lighter-dark;
  padding: 1.5rem;
  border-radius: .375rem;

  .classes {

    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    svg {
      fill: $light;
      width: 3.5rem;
      height: 3.5rem;
      margin: 0 .25rem;
    }

    label {
      cursor: pointer;
      color: $light;
    }

    .control {
      position: relative;
    }

    .radio {
      position: absolute;
      visibility: hidden;
    }

    .radio:checked + label>svg {
      fill: $primary;
      transition: all .5s;
    }
  }
}

.deck-list {
  .table {

    margin-top: 2rem;
    border-radius: .375em;
    overflow: hidden;

    svg {
      fill: $primary;
    }

    thead {
      background: $lighter-dark;

      th {
        text-align: center;
        color: $primary;
        padding: 1rem;

        &:first-child {
          text-align: left;
        }
      }
    }

    tbody {
      font-family: $serif-font;

      .deck-list--deck-name {
        display: flex;
        align-items: center;

        .class-icon {
          margin-right: .5em;
          fill: $dark;
          min-width: 1.5em;
          min-height: 1.5em;
        }
      }

      tr {

        td {
          text-align: center;
          padding: 1rem;

          &:first-child {
            text-align: left;

            &:hover {
              color: $primary;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

}
