@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Roboto+Slab:400,700');

@import 'bulma';
@import '_variables';
@import '_navbar';
@import '_sidebar';
@import '_deckList';
@import '_deckSingle';
@import '_footer';

body {
  font-family: $font;
}

a {
  color: $dark;

  &:hover {
    color: $primary;
  }
}

svg {
  width: 1.2em;
  height: 1.2em;
}

.input, .select select:focus {
  &:focus, &:active {
    border-color: $primary;
    box-shadow: 0 0 0 .125em rgba($primary, .5)
  }
}

.label {
  color: $primary;
}

.banner {
  height: 20em;
  width: 100%;
  padding: 3rem;
  display: flex;
  align-items: center;
  background: url('../img/banner-home.jpg') no-repeat;
  background-size: cover;
  background-position: center center;

  .title {
    font-size: 3em;
    font-weight: 600;
    color: $primary;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba($light, .7);
  }

  .subtitle {
    padding-top: 1rem;
    font-weight: 600;
    font-size: 2em;
    color: $light;
  }
}
