.deck-list--form {
  background-color: $lighter-dark;
  padding: 1.5rem;
  border-radius: .375rem;
}

.deck-list {
  .table {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    margin-top: 2rem;
    border-radius: .375em;
    overflow: hidden;

    svg {
      fill: $primary;
    }

    thead {
      background: $lighter-dark;

      th {
        text-align: center;
        color: $primary;
        padding: 1rem;
        cursor: pointer;

        &:nth-child(1),
        &:nth-last-child(-n + 3) {
          width: 5%;
        }

        &:nth-child(2) {
          width: 42.5%;
          text-align: left;
        }

        &:nth-child(3) {
          width: 17.5%;
        }

        &:nth-child(4) {
          width: 12.5%;
        }
        
        &:nth-child(5) {
          width: 7.5%;
        }
      }
    }

    tbody {
      font-family: $serif-font;

      .deck-list--deck-name {
        display: flex;
        align-items: center;

        .class-icon {
          margin-right: .5em;
          fill: $dark;
          min-width: 2em;
          min-height: 2em;
        }
      }

      tr {
        td {
          white-space: nowrap;
          overflow: hidden;
          text-align: center;
          padding: 1rem;

          &:nth-child(2) {
            text-align: left;
          }
        }
      }
    }
  }
}

.home-info {
  padding: 3em;
  background: url('../assets/img/witchwood-banner.png');
  background-size: cover;

  .title, .subtitle {
    color: $light;
  }
}
