.deck {

  .content-top {
    display: flex;
    align-items: center;
  }

  .panel-heading {
    text-align: center;
    color: $dark;
    font-weight: 600;
  }

  &--title {
    background-color: $dark;
    border-radius: .375em .375em 0 0;
    color: $light;
    text-shadow: 1px 1px 8px $dark;
    padding: .8rem;
    font-family: $serif-font;
    font-size: 1.6em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &--metas {
    background-color: $light;
    border-radius: 0 0 .375em .375em;
    padding: 1.2rem;
    display: flex;
    flex-flow: row wrap;
  }

  .tags {
    margin: 0 .5em;

    .tag {
      margin-bottom: 0;
    }
  }

  &--cost, &--format, &--class {
    svg {
      fill: $light;
    }
  }

  &--rating-btn {
    width: 100%;
  }

  &--ratings {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
  }

  &--list-card {
    justify-content: flex-start;
    position: relative;
    padding: 0;

    &:hover {
      cursor: pointer;
    }
    
    &-preview {
      display: none;
      position: absolute;
      right: 50px;
      top: 50%;
      margin-top: -155px;
      width: 205px;
      height: 310px;
      background-color: $white;
      border: 1px solid $light;
      border-radius: .375rem;
      box-shadow: 0 5px 15px $grey-lighter;
      z-index: 10;
      
      .deck--list-card:hover & {
        display: block;
      }
    }

    &-cost {
      width: 5rem;
      padding: .5em;
      background: $dark;
      color: $light;
      display: flex;
      align-items: center;
      justify-content: center;

      &--icon {
        padding-left: .25em;

        svg {
          fill: $light;
          width: .9em;
          height: .9em;
        }
      }

      &--text {
        font-weight: 600;
      }

    }

    &-name {
      padding-left: .8em;
      text-transform: uppercase;
    }

    &-count {
      position: absolute;
      width: 2rem;
      height: 100%;
      line-height: 100%;
      padding: 1em;
      right: 0;
      color: $light;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &--desc {
    padding: 2.5em 0;
    font-family: $serif-font;

    h3 {
      font-family: $font;
    }
  }

  &--comments {
    overflow: hidden;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2em;
      padding-bottom: 1.25em;
      border-bottom: 1px solid $grey-lighter;

      &-login {
        display: flex;
        align-items: center;

        .subtitle {
          margin-bottom: 0;
          padding-right: 1em;
        }
      }
    }

    &-form {
      margin-top: 2rem;
      padding-top: 1.5em;
      border-top: 1px solid $grey-lighter;

      textarea {
        &:focus {
          border-color: $primary;
          box-shadow: none;
        }
      }
    }

    &-comment {
      &--date {
        float: right;
        font-size: .875em;
        color: $grey-dark;
      }

      &--content {
        font-family: $serif-font;
      }
    }

    .title {
      font-size: 1.5em;
      font-weight: 600;
      margin-bottom: 0;
    }

    .subtitle {
      font-size: 1em;
      color: $danger;
    }

    .actions {
      display: flex;
      justify-content: flex-end;
    }
  }

  &--delete-button {
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
  }

  .mana-curve {
    margin-top: 3em;

    text {
      font-weight: 600;
    }
  }
}

/* Media queries */
// Mobile
@media screen and (max-width: 768px) {
  .deck--list-card-name {
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .deck--metas .tags .tag {
    margin-bottom: 1em;
  }
}
