.deck-builder {
  &--form {
    background-color: $lighter-dark;
    padding: 1.5rem;
    border-radius: .375rem;

    .fields {
      justify-content: flex-start;
      border-top: none;
      padding-top: 0;
      margin-top: 0;

      .field:last-child {
        margin-left: 1.5em;
      }
    }
  }

  &--cards, &--list {
    .pool-header {
      margin-top: 1.5em;
      display: flex;
      border-bottom: 1px solid rgba($lighter-dark, .2);
      align-items: flex-start;
      justify-content: space-between;
    }

    .tabs {
      margin-bottom: 0;

      ul {
        border: none
      }

      li {
        a {
          border-radius: .375em .375em 0 0;
          border: none;
          padding: 1em;

          &:hover {
            background: rgba($lighter-dark, .7);
            color: $light;
            transition: background .3s;
            font-weight: 600;
          }
        }
      }

      li.is-active a {
        background: $lighter-dark;
        color: $light;
        font-weight: 600;
      }
    }

    .table {

      td:first-child {
        cursor: pointer;
      }

      .deck-builder--cards-table--cost, .deck-builder--list-table--cost {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          fill: $info;
        }

        span {
          display: inline-block;
          margin-right: .25em;
        }
      }

      tbody {
        text-transform: uppercase;
        font-weight: 600;
        line-height: 1.6em;
      }

      tr {
        td {
          text-align: center;
          padding: 1rem;
          width: 100%;

          &:first-child {
            text-align: left;
          }
        }

        &:hover {
          background: $lighter-dark;

          td {
            color: $primary;
          }
        }
      }
    }
  }

  &--cards {
    padding-top: 1.5em;
    // overflow: hidden;

    &-preview {
      text-align: center;
      img {
        max-width: 275px;
        max-height: 373px;
      }
    }

    &-table-count {
      background-color: $lighter-dark;
      color: $light;
    }

    .table {

      width: 100%;
      margin: 0;
      border-collapse: separate;
      border-radius: 0;
      position: relative;
      max-height: 375px;

      tbody {
        height: 350px;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100%;
        display: block;
      }
    }
  }

  &--list {

    padding: 3em 0 3em;

    &-table {
      margin-top: 1.5rem;
    }

    &-empty {
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        background: $primary;
        width: 50%;
        display: block;
        border: 1px solid $lighter-dark;
        border-radius: .375em .375em 0 0;
        margin: 0 auto;
      }

      h2 {
        background: $lighter-dark;
        color: $primary;
        text-transform: uppercase;
        padding: 1em;
        text-align: center;
        font-weight: 600;
        width: 50%;
        display: block;
        margin: 0 auto;
        border-radius: 0 0 .375em .375em;
        box-shadow: 0 2px 3px rgba(10, 10, 10, .1);
      }
    }

    &-header {
      display: flex;
      align-items: center;

      .title {
        margin-bottom: 0;
      }

      .tags {
        margin: 0 .5em;

        .tag {
          margin-bottom: 0;
        }

        &:first-of-type {
          margin-left: 1.5em;
        }
      }

      svg {
        fill: $light;
      };

      #card-count {
        font-weight: 600;
        margin-right: .25em;
      }
    }
  }

  &--curve {
    .box {
      margin-top: 1.5em;
      height: 300px;
    }
  }

  &--submit {
    margin-top: 2rem;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
  }
}
