.deck--list-card {
  position: relative;

  &:hover {
    cursor: pointer;
  }
  
  &-preview {
    display: none;
    position: absolute;
    right: 50px;
    top: 50%;
    margin-top: -155px;
    width: 205px;
    height: 310px;
    background-color: $white;
    border: 1px solid $light;
    border-radius: .375rem;
    box-shadow: 0 5px 15px $grey-lighter;
    z-index: 10;
    
    .deck--list-card:hover & {
      display: block;
    }
  }
}
