.footer {
  background: $dark;
  color: darken($light, 10%);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a, .icon {
    color: $primary;
  }
}
