#guide {
  line-height: 1.6em;
  font-family: $serif-font;

  h2, h3 {
    font-family: $font;
  }

  h2, strong {
    color: $primary;
  }

  strong {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1.4em;
  }

  li:not(:last-child) {
    margin-bottom: 1em;
  }
}