#profile {
  .profile-header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 3em;

    img {
      width: auto;
      height: 10em;
      margin-right: 1.5em;
    }

    p {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: .5em;
      border-top: 1px solid $grey-lighter
    }

    svg {
      margin-right: 1em;
      width: 2em;
      height: 2em;
    }
  }

  .profile--avatar {
    border-radius: .375em;
  }

  .profile--title {
    color: $primary;
  }

  .profile--battlenet {
    svg {
      fill: $blizzard-color;
    }
  }

  .profile--deck {
    margin-bottom: 1.5em;

    &-title {
      display: flex;
      justify-content: space-between;
      border-radius: .375em .375em 0 0;
      background-color: $dark;

      &--text {
        color: $light;
        text-shadow: 1px 1px 8px $dark;
        padding: .8rem;
        font-family: $serif-font;
        font-size: 1.6em;
        width: 80%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    
    .buttons {
      padding: .8rem;
    }

    .deck--metas {
      display: flex;
      justify-content: flex-start;

      .tags {
        margin-right: 1em;
      }
    }
  }
}
