@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Roboto+Slab:400,700');

@import 'bulma/bulma';
@import 'bulma-tooltip/dist/bulma-tooltip';
@import '_variables';
@import '_navbar';
@import '_sidebar';
@import '_deckList';
@import '_deckSingle';
@import '_deckBuilder';
@import '_preBuilder';
@import '_footer';

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  font-family: $font;
}

#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.app-content {
  flex-grow: 1;
}

nav, .app-content, footer {
  flex-shrink: 0;
}

.section {
  padding: 3rem 0;
}

a {
  color: $dark;

  &:hover {
    color: $primary;
  }
}

svg {
  width: 1.2em;
  height: 1.2em;
}

.input, .select select:focus {
  &:focus, &:active {
    border-color: $primary;
    box-shadow: 0 0 0 .125em rgba($primary, .5)
  }
}

.label {
  color: $primary;
}

.banner {
  height: 20em;
  width: 100%;
  padding: 3rem;
  display: flex;
  align-items: center;
  background: url('../assets/img/banner-home.jpg') no-repeat;
  background-size: cover;
  background-position: center center;

  .title {
    font-size: 3em;
    font-weight: 600;
    color: $primary;
  }

  .subtitle {
    padding-top: 1rem;
    font-weight: 600;
    font-size: 2em;
    color: $light;
  }
}

.classes {

  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  svg {
    fill: $light;
    width: 3.5rem;
    height: 3.5rem;
    margin: 0 .25rem;
  }

  label {
    cursor: pointer;
    color: $light;
  }

  .control {
    position: relative;
  }
}

.radio {
  position: absolute;
  visibility: hidden;
}

.radio:checked + label>svg {
  fill: $primary;
  transition: all .5s;
}

.fields {
  padding-top: 1rem;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgba($light, .3);

  .field {
    margin-bottom: 0;
  }
}

#login, #register {
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
}

.form {
  .title {
    text-align: center;
  }

  .button {
    margin-top: 1.5em;
    width: 100%;
    font-weight: 600;
  }
}

.invalid-feedback {
  font-size: .75em;
  color: $danger;
}

.is-rounded {
  border-radius: 50%;
}

.is-common {
  background: $dark;
}

.has-text-common {
  color: $dark;
}

.is-epic {
  background: $epic-color;
}

.has-text-epic {
  color: $epic-color
}

.is-legendary {
  background: $legendary-color;
}

.has-text-legendary {
  color: $legendary-color
}

.is-rare {
  background: $rare-color;
}

.has-text-rare {
  color: $rare-color
}

@media screen and (max-width: 1024px) {
  .container {
    margin: 0;
  }
}
